@import "../colors.css";

.device {
  width: 90%;
  height: 90%;

  max-width: 900px;

  background: var(--screen-background);

  padding: 12px;

  position: relative;

  border-radius: 45px;

  border: 10px solid var(--device-frame);

  box-shadow:
    0 30px 80px var(--device-shadow),
    inset 0 0 0 2px var(--device-edge);

  overflow: hidden;

  transition: 0.4s ease;
}

.device::after {
  content: "";

  position: absolute;

  top: 0;
  left: 20%;

  width: 60%;
  height: 40%;

  background: linear-gradient(120deg, rgba(255, 255, 255, 0.25), transparent);

  border-radius: 50%;

  filter: blur(20px);

  pointer-events: none;
}

/* Bildschirm */


/* Wenn eine App geöffnet ist */

.app-in-use {
  background: var(--screen-background);

  height: 100%;

  overflow-y: auto;
  border-radius: 35px;
}

/* Home Indicator bleibt unten */

@media (max-width: 422px) {
  .device {
    border-radius: 35px;

    padding: 10px;
  }

  .device-app {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

.screen {
  height: 90%;
  position: relative;
}

.resume-app::-webkit-scrollbar,
.projects-app::-webkit-scrollbar,
.about-app::-webkit-scrollbar,
.contact-app::-webkit-scrollbar,
.skills-app::-webkit-scrollbar,
.hobbies::-webkit-scrollbar,
.app-in-use::-webkit-scrollbar {
  display: none;
}
