@import "../colors.css";

.home-indicator {

    position: absolute;

    bottom: 10px;
    left: 50%;

    transform: translateX(-50%);

    width: 120px;
    height: 5px;

    border-radius: 999px;

    background: var(--text-primary);

    opacity: .35;

    transition:
        opacity .2s ease,
        transform .15s ease;

    z-index: 20;

    cursor: pointer;

}

.home-indicator:hover {

    opacity: .7;

}

.home-indicator:active {

    transform:
        translateX(-50%)
        scaleX(.92);

    opacity: 1;

}