@import "../colors.css";

.home-indicator {
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);

  width: 70%;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--text-primary);
  opacity: 0.4;

  z-index: 20;
  cursor: pointer;

  transition: opacity 0.2s ease;
}

.home-indicator:hover {
  opacity: 0.7;
}

.home-indicator:active {
  opacity: 1;
}