@import "../colors.css";

.screen-link {
  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  gap: 10px;

  text-decoration: none;

  color: var(--text-primary);

  .app-icon {
    width: 80px;
    height: 80px;
    

    display: flex;

    align-items: center;
    justify-content: center;

    background: white;

    border-radius: 100%;

    box-shadow: 0 8px 15px var(--screen-shadow);

    svg {
      font-size: 35px;

      color: var(--accent);
    }
  }

  span {
    text-align: center;

    font-size: 14px;
  }
}

@media (max-width: 466px) {
  .screen-link {
  .app-icon {
    width: 40px;
    height: 40px;
    

    svg {
      font-size: 20px;

      color: var(--accent);
    }
  }
  }
}
