.project-container{
    width: 100%;
    height: inherit;
     display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
  padding: 20px;
  justify-items: center;

    .project {
      width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project img {
  width: 100%;
  max-width: 300px; /* optional */
  border-radius: 8px;
  margin-top: 10px;
}

.project:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

}


@media (max-width: 768px) {
  .project-container {
    grid-template-columns: 1fr; 
  }
}
