.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-title{


}

.skills-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.skills-item{


}

.skills-name{


}

.skills-image{
    width: 200px;
}