@import "../colors.css";

.resume-app {

    padding:15px;

    overflow-y:auto;


}


.resume-item {

    background:var(--screen-surface);

    border-radius:25px;

    padding:20px;

    margin-bottom:20px;


    box-shadow:
    0 10px 25px var(--screen-shadow);


    position:relative;

}


.resume-icon {

    width:50px;
    height:50px;

    display:flex;

    align-items:center;
    justify-content:center;

    font-size:25px;

    border-radius:15px;

    background:var(--icon-background);

}


.resume-item h2 {

    font-size:1.1rem;

    margin-top:15px;

}


.role {

    color:var(--accent);

}


.date {

    font-size:0.8rem;

    color:var(--text-secondary);

}