.navbar {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .navbutton {
    background-color: brown;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    border-left: none;
    border-bottom-right-radius: 1000px;
    border-top-right-radius: 1000px;
    padding: 10px;
    width: 120px;
    p {
      text-align: center;
      font-size: clamp(0.7rem, 1.5vw, 0.85rem);
    }
  }
}

@media (max-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .navbutton {
      flex-direction: column;
      align-items: center;
      border-radius: 0;
      border-bottom: none;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      
      p{
        font-size: xx-small;
      }
    }
  }
}
