.missing-name{
    display: flex;
    justify-content: space-between;
    min-height: inherit;
}

.dashboard{
    min-height: inherit;
}

.outlet{
    background-color: #242424; ;
    width: 50%;
}


@media (max-width: 600px){
.missing-name{
    display: block;
}
    .outlet{
        width: 100%;
        min-height: inherit;
    }
}