.missing-name{
    display: flex;
    justify-content: space-between;
    min-height: inherit;
}

.dashboard{
    min-height: inherit;
}

.outlet{
    background-color: aliceblue;
    width: 50%;
}


@media (max-width: 600px){
.missing-name{
    display: block;
    min-height: 0;
}
    .outlet{
        width: 100%;
    }
}