.my-data-container{
    width: fit-content;
    padding: 10px;
    .my-data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
}
}

